<div class="cont-filter">
    <img src="/person-with-pencil.jpeg" class="imagen" >
    <img src="/person-with-pencil.jpeg" class="imagen" >
</div>
<style>
    .imagen {
        height: 200px;
        width: 200px;
    }   
    .cont-filter {
		display: flex;
		justify-content: center;
	}

</style>