---

---

<header>
    <h1>GYM WORKOUT</h1>
    <nav>
        <ul>
            <li><a href="index.php">Home</a></li>
            <li><a href="create.php">Create</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #333;
        color: white;
    }

    nav ul {
        display: flex;
        list-style: none;
    }

    nav ul li {
        margin-right: 20px;
    }

    nav ul li a {
        text-decoration: none;
        color: white;
    }

    nav ul li a:hover {
        color: #f1f1f1;
    }
</style>