---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
---
<Layout title="GYM">
	<ul role="list" class="link-card-grid">
		<div class="caja">
			<a href="/create-exercise" class="a">
				<img src="/person-with-pencil.jpeg" class="imagen" >
			</a>
			<Card
			href="/create-exercise"
			title="CREATE EXERCISE"
			/>
		</div>
		<div class="caja" id="caja2">
			<a href="/see-my-exercise" class="a">
				<img src="/person-question.jpeg" class="imagen" >
			</a>
			<Card
			href="/see-my-exercise"
			title="SEE MY EXERCISES"
			/>
		</div>
		<div class="caja">
			<a href="/search-exercise" class="a">
				<img src="./person-lifting-weight.jpeg" class="imagen" id="imagen3">
			</a>				
			<Card
			href="/search-exercise"
			title="EXPLORE EXERCISES"
			/>
		</div>
	</ul>
</Layout>

<style>
	ul {
		margin: auto;
		padding: 1rem;
		width: 900px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		position: relative;
		right: 370px;
		top: 100px;
	}
	.link-card-grid {
		display: flex;
		padding: 0;
	}
	.imagen {
		border-radius: 12px;
		width: auto;
		height: 500px;
	}
	.a:hover {
    	-webkit-filter: brightness(115%);
	}
	.caja {
		width: 100%;
		height: 310px;
	}
	#caja2 {
		padding-left: 70px;
		padding-right: 70px;
	}
	#imagen3 {
		position: relative;
		right: 2px;
	}
</style>