---
import Layout from "../layouts/Layout.astro"
import Filter from "../components/filter.astro"


const res = await fetch("http://localhost:8002/api/v1/exercises?not_by_user_id=1&page=1&per_page=100")
const exercises = await res.json()
---
<Layout title="GYM">
    <!--<Filter /> -->
    <ul class="exercise-list mt-20">
        {exercises.map(exercise => (
            <li class="exercise-item" id={exercise.id}>
                <div class="exercise-left">
                    <img src={exercise.url || "/person-with-pencil.jpeg"} class="exercise-img" alt="Exercise Image">
                </div>
                <div class="exercise-right">
                    <div class="section">
                        <h2 class="section-title">Exercise name</h2>
                        <h3 class="section-content">{exercise.name}</h3>
                    </div>
                    <div class="section">
                        <h2 class="section-title">Muscles involved</h2>
                        <h3 class="section-content">{exercise.muscles.join(", ")}</h3>
                    </div>
                    <div class="section">
                        <h2 class="section-title">Training equipment</h2>
                        <h3 class="section-content">{exercise.equipments.map(equipment => equipment.name).join(", ")}</h3>
                    </div>
                    <div class="section">
                        <h2 class="section-title">Created by</h2>
                        <h3 class="section-content">user {exercise.user_id}</h3>
                    </div>
                </div>
            </li>
        ))}
    </ul>
</Layout>
<style>
    .exercise-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .exercise-item {
        display: grid;
        grid-template-columns: 1fr 3fr; /* Divide en una columna pequeña y tres grandes */
        background-color: #1f1f1f;
        border: 1px solid #3a3a3a;
        border-radius: 8px;
        margin-bottom: 1rem;
        transition: transform 0.2s;
    }
    .exercise-item:hover {
        transform: scale(1.01);
    }
    .exercise-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    .exercise-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 0.5rem;
    }
    .buttons {
        display: flex;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }
    .button-edit, .button-delete {
        border: none;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s;
    }
    .button-edit {
        background-color: #28a745;
        color: white;
    }
    .button-edit:hover {
        background-color: #218838;
    }
    .button-delete {
        background-color: #dc3545;
        color: white;
    }
    .button-delete:hover {
        background-color: #c82333;
    }
    .exercise-right {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Divide en tres columnas iguales */
        gap: 1rem; /* Espacio entre las columnas */
        padding: 1rem;
    }
    .section {
        margin-bottom: 1rem;
    }
    .section-title {
        font-size: 1.25rem;
        color: #28a745;
        margin-bottom: 0.5rem;
        text-align: center;
    }
    .section-content {
        font-size: 1rem;
        color: #ddd;
        margin: 0;
        text-align: center;
    }
</style>